#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px; 
    height: 100vh;
}

#red {
    grid-area: 1 / 1 / 2 / 5; 
    background-color: red;
}

#blue {
    grid-area: 2 / 1 / 4 / 3; 
    background-color: blue;
}

#green {
    grid-area: 2 / 3 / 3 / 5;
    background-color: green;
}

#purple_left {
    grid-area: 3 / 3 / 4 / 4;
    background-color: purple
}

#purple_right {
    grid-area: 3 / 4 / 4 / 5;;
    background-color: purple
}